﻿<header>
    <div class="content-wrapper">
        <div class="float-left">
            <p class="site-title">
            <a href="~/">Sepet Demo</a></p>
        </div>
    </div>
</header>
<div id="body">
    <section>
        En basit haliyle örnek asp web api projesi.<br />
        <br />
        Veritabanı için in-memory SQLite,<br />
        Persistence katmanı için ORMLite,<br />
        Dependency injection için Ninject,<br />
        Unit ve Integration Test için NUnit,<br />
        Mocking için Moq,<br />
        Assertion için de FluentAssertions kullanıyor.<br />
        <br />
        Status code ve http metodları gibi bazı http özelliklerinden istifade etse de hypermedia ve media-type gibi restful mimarinin bazı gerekliliklerini basitlik için yoksaydım.<br />
        <br />
        <a href="@Url.RouteUrl("DefaultApi", new { httproute = "", controller = "User", id = "1" })" > User </a><br />
        <a href="@Url.RouteUrl("DefaultApi", new { httproute = "", controller = "Restaurant", id = "1" })" > Restaurant </a><br />
        <a href="@Url.RouteUrl("DefaultApi", new { httproute = "", controller = "Item", id = "1" })" > Item </a><br />
        <a href="@Url.RouteUrl("DefaultApi", new { httproute = "", controller = "Order", id = "1" })" > Order </a><br />
        <br />
        adresleri üzerinden servislere erişilebilir. <br />
    </section>
</div>
